@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

body {
    margin: 0;
    margin-top: 5px;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 33, 33);
    font-family: 'Inter', sans-serif;
}   

#container {
    height: 701px;
    width: 337px;
    border-radius: 60px;
    border: solid 3px silver;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Status Bar */
#statusIconsContainer{
    position: absolute;
    margin-top: 25px;
    width: 260px;
    display: flex;
    justify-content: space-between;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

#timeStatus{
    color:#fbfbfb
}
/*  */

/* Display */
#displayContainer{
    position: absolute;
    width: 326px;
    text-align: right;
    margin-right: 65px;
    margin-top: 172px;    
}

#display{
    color: #fbfbfb;
    font-size: 75px;
    font-weight: 200;
}

/* Buttons */
#buttonContainer {
    margin-top: 264px;
    width: 326px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.buttonRow {
    display: flex;
    padding: 6.5px;
    justify-content: space-evenly;
}

.button{
    background-color: white;
    border-radius: 36px;
    height: 62px;
    width: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none; 
     -khtml-user-select: none; 
       -moz-user-select: none; 
        -ms-user-select: none; 
            user-select: none; 
}

.light{
    background-color: #a5a5a5;
    color: black;
    font-weight: 500;
    font-size: 27px;

    &:hover{
        filter: brightness(1.2);
        cursor: pointer;
    }
}

.dark{
    background-color: #333333;
    color: #fbfbfb;
    font-weight: 400;
    font-size: 31px;

    &:hover{
        filter: brightness(1.3);
        cursor: pointer;
    }
}

.orange{
    background-color: #ff9e0b;
    color: #fbfbfb;
    font-weight: 500;
    font-size: 34px;

    &:hover{
        filter: brightness(1.1);
        cursor: pointer;
    }
}

#percent{
    font-weight: 600;
}
/*  */

/* Last Row */
#rowFive {
    gap: 1px;
}

#rightSide {
    display: flex;
}

#zero {
    padding-right: 75px;
}

/*  */

/* Home Bar */
#homeBarContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#homeBar {
    height: 3.3px;
    width: 111px;
    border-radius: 2px;
    background-color: white;
}